.contenedorHeroes {
    width: 90%;
    margin: auto;
}

.tarjetaHeroe {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    gap: 20px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #016acc;
    color: white;
}

.contenedorImagen {
    text-align: center;
}

.contenedorImagen img {
    width: 170px;
    height: 230px;
    object-fit: cover;
}

.contenedorImagen h2 {
    margin-top: 10px;
}


.contenedorInfo {
    padding: 10px;
}

.contenedorPoderes {
    padding: 10px;
}

.contenedorInfo h3, .contenedorPoderes h3 {
    margin-top: 0;
}

.contenedorInfo p, .contenedorPoderes p {
    margin: 10px 0;
}


